<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Coming soon</title>
    <link rel="stylesheet" type="text/css" href="/css/comingsoon.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Prata" rel="stylesheet">
</head>

<body>

    <div class="back">
        <a href="https://www.google.com">НАЗАД</a>
    </div>
    <h1 class="text">Coming soon</h1>
    <div class="top a1"></div>
    <div class="top a2"></div>
    <div class="top a3"></div>

</body>

</html>