<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>page</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Prata" rel="stylesheet">
</head>

<body>



    <div class="all">
        <div class="page-left">
            <a href="https://www.google.com">
                <div class="logo"></div>
            </a>
            <div class="page-name">РОЗКЛАД</div>
            <div class="page-info"> ЗАНЯТЬ КПІ</div>
            <div class="menu">
                <div class="rg"><a href="https://www.google.com">Розклад за групами</a></div>
                <div class="rv"><a href="https://www.google.com">Розклад за викладачами</a></div>
                <div class="rs"><a href="https://www.google.com">Розклад сесії</a></div>
                <div class="fb"><a href="/feedback">Зворотній зв'язок</a></div>
            </div>
        </div>
    </div>

    <div class="search-box">
        <input class="search-txt" type="text" name="" placeholder="Type to search...">
        <a class="search-btn" href="#">
            <i class="fas fa-search"></i>
        </a>

    </div>

    <footer>
        <div class="social">
            <a href="https://www.google.com"> <i class="fab fa-github"></i></a>
            <a href="https://www.google.com"> <i class="fab fa-telegram"></i></a>
            <a href="https://www.google.com"> <i class="fab fa-facebook"></i></a>
            <a href="https://www.google.com"> <i class="fab fa-twitter"></i></a>
        </div>

    </footer>

</body>

</html>