body{
    padding: 0;
    margin: 0;
    background-color: rgb(169, 169, 169);
    background-size: cover;
}

/*==================================================================*/

.all{
	background-color:  #2f3640 ;
	position: absolute;
    width:200px;
	text-align:center;
	height: 100%;
    margin: 0 0px;
    display: grid;
	border-right: 3px solid grey;
}
.page-left{
	
    padding: 20px;
    width: 100%;
}
.logo{
	position:relative;
    width:100px;
    height: 101px;
    margin:auto;
    background: url(http://rozklad.kpi.ua/Img/logo.gif);
    background-size: cover;
}
.page-name{
	position:relative;
	color: #8e8787;
    font-size: 30px;
	margin-right: auto;
	margin-left: auto;
    font-family: 'Prata',sans-serif;
    width: 30px;
    text-align: center;
    margin-left:  2%;
	cursor: default;
}

.page-name::selection{
	background: #2f3640;
}



.page-info{
	color: #8e8787;
    width: 160px;
	margin-left: 10px;
	font-family: 'Prata',sans-serif;
	margin-left:  2%;
    font-size: 20px;
    text-align: left;
	cursor: default;
	
}
.page-info::selection{
	background: #2f3640;
}

.menu{
    width: 100%;
	margin-left:  -20%;

}

.rg{
	position: relative;
	transition:.5s;
	margin-top:15px;
	height:70px;
	width: 100%;
	padding-top: 20px;
	border: 1px solid transparent;
 	left: 12px;
	transition:.5s
}

.rg a{
  color:#8e8787;
  text-align: center;
  text-decoration:none;
  font-size:19px;
  font-family: 'Prata';
  text-transform:uppercase;
  position: relative;
  display: block;
  transition:.5s
}



.rg:hover{
	background:#211f1f;
	border-color: rgb(0,0,0);
}
.rg a:hover{
	color:#fff;
}

.rv{
	position: relative;
	transition:.5s;
	height:70px;
	width: 100%;
	padding-top: 20px;
	border: 1px solid transparent;
 	left: 12px;
	transition:.5s
}

.rv a{
  color:#8e8787;
  text-align: center;
  text-decoration:none;
  font-size:19px;
  font-family: 'Prata';
  text-transform:uppercase;
  position: relative;
  display: block;
  transition:.5s
}

.rv:hover{
	background:#211f1f;
	border-color: rgb(0,0,0);
}
.rv a:hover{
	color:#fff;
}

.rs{
	position: relative;
	transition:.5s;
	height:70px;
	width: 100%;
	padding-top: 20px;
	border: 1px solid transparent;
 	left: 12px;
	transition:.5s
}

.rs a{
  color:#8e8787;
  text-align: center;
  text-decoration:none;
  font-size:19px;
  font-family: 'Prata';
  text-transform:uppercase;
  position: relative;
  display: block;
  transition:.5s
}

.rs:hover{
	background:#211f1f;
	border-color: rgb(0,0,0);
}
.rs a:hover{
	color:#fff;
}

.fb{
	position: relative;
	transition:.5s;
	height:70px;
	width: 100%;
	padding-top: 20px;
	border: 1px solid transparent;
 	left: 12px;
	transition:.5s
}

.fb a{
  color:#8e8787;
  text-align: center;
  text-decoration:none;
  font-size:19px;
  font-family: 'Prata';
  text-transform:uppercase;
  position: relative;
  display: block;
  transition:.5s
}

.fb:hover{
	background:#211f1f;
	border-color: rgb(0,0,0);
}
.fb a:hover{
	color:#fff;
}



.search-box{
    position: absolute;
    top: 3%;
    left: 18%;
    transition: (-50%,-50%);
    
    height: 30px;
    border-radius: 30px;
    padding: 10px
}
input[type=text] {
  width: 90px;
  color: #8e8787;
  box-sizing: border-box;
  border: 2px solid #2f3640;
  border-radius: 4px;
  font-size: 16px;
  background-color: #2f3640;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 150%;
}

footer{
	position:absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #262626;
}
.social a{
	color:inherit;
}
.social{
    color: #fff;
    width:200px;
    padding-top: 10px;
    margin: 0 auto;
    font-size: 20px;
    cursor: pointer;
}
.social .fab{
	position: relative;
    padding-left: 10px;
    padding-right: 10px;
    transform: scale(1);
    transition: .5s;
}
.social a .fab:hover{
    transform: scale(1.5);
}
